        body{
            background-color:#ECF0F1; 
            padding-top:80px;
        }
        
        h4.cuatrotitle{
            text-decoration: none;
            height: 36px;
        }

        a.colq{
            text-decoration:none;
            color:black;
        }
        a.colq:hover{
            color:white;
        }
        
        .fk{
            padding: 17px;
        }
        .btn-ind{
            background-color:#D0DBD4;
            color:#343F4A;max-width:210px;
            font-weight: bolder;
        }
        .foot{
            width: 100%;
            height: 77px;
            background-color: #ddd;
            margin-top: 66px;
            margin-bottom: -15px;
        }
        a.aind{
            text-decoration: none;
            color:black;
        }
        a.aind:hover{
            color:#A4A4A4;
        }
        /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
        .pan{
            border-color: #ddd; 
        }
        .lrecodel{
            margin-top:-11px;
            margin-bottom:-2px;
            font-family:cursive;
            color:rgba(0,0,0,.82);
        }
        .lrecom{
            font-size:1.1em;
            font-family:cursive;
            font-weight: bolder;
            margin-bottom:2px;
            color:rgba(0,0,0,.82);
        }
        .lreco{
            font-size:1.1em;
            font-family:cursive;
            font-weight: bolder;
            margin-bottom:13px;
            color:rgba(0,0,0,.82);
        }
        .lreco:hover{
            color:#A4A4A4;
            text-decoration: none; 
        }
        .hrbas{
            border-color:rgba(4, 159, 195, .35);
        }
        .hralgi{
            border-color:rgba(37, 61, 103, .3);
        }
        .hrtrig{
            border-color:rgba(170, 57, 57, .3);
        }
        .hrgeo{
            border-color:rgba(192, 185, 0, .83);
        }
        .hrest{
            border-color:rgba(0, 177, 64, .83);
        }
        .hrdif{
            border-color:rgba(143, 122, 165, .35);
        }
        .hrint{
            border-color:rgba(57, 146, 131, .6);
        }
        /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
        
        
        /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
        .borderbas{
            border-radius:4px;
            border-color:rgba(54, 134, 164, .21);
        }
        .bordersalg{
            border-radius:4px;
            border-color:rgba(37, 61, 103, .14);
        }
        .borders{
            border-radius:4px;
            border-color:rgba(170, 57, 57, .14); 
        }
        .bordergeo{
            border-radius:4px;
            border-color:rgba(192, 185, 0, .34);
        }
        .borderest{
            border-radius:4px;
            border-color:rgba(0, 177, 64, .34);
        }
        .borderdif{
            border-radius:4px;
            border-color:rgba(143, 122, 165, .16);
        }
        .borderint{
            border-radius:4px;
            border-color:rgba(57, 146, 131, .16);
        }

        .module {
        
        margin: 0 0 10px 0;
        overflow: hidden;}
        .module p {
            margin: 0; 
        }
        .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        }
        .reci{
            height:80px;
        }

        .modulep {
        
        margin: 0 0 10px 0;
        overflow: hidden;}
        .modulep p {
            margin: 0; 
        }
        .line-clampp {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        }
        .reci{
            height:80px;
        }

        .borderdefbas{
            border-color:white;
        }
        .borderdefalg{
            border-color:white;
        }
        .bordersdef{
            border-color:white;
            height:120px;
        }
        .borderdefgeo{
            border-color:white;  
        }
        .borderdefest{
            border-color:white;
        }
        .borderdefint{
            border-color:white;  
        }
        .borderdefdif{
            border-color:white;  
        }
         .borderdef{
            border-color:#ddd;  
        }
        /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


        /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
        .temebas{
            background-color:rgba(4, 159, 195, .1); 
        }
        
        .temebas:hover,
        .temebas:focus {
            
            background-color:rgba(54, 134, 164, .9);

        }
        /*++++++++*/
        .temealg{
            height:100px;
            background-color:rgba(37, 61, 103, .17);
                         
        }
        .temealg:hover,
        .temealg:focus {
            
            background-color:rgba(37, 61, 103, .75);
        }
        /*++++++++*/
        .teme{
            background-color:rgba(170, 57, 57, .10);
                         
        }
        .teme:hover,
        .teme:focus {
            
            background-color:rgba(170, 57, 57, .80);
        }
        /*++++++++*/
        .temegeo{
            height:100px;
                         
        }
        .temegeo:hover,
        .temegeo:focus {
            
            background-color:rgba(192, 185, 0, .80);
        }
        /*++++++++*/
        .temeest{
            height:100px;
                         
        }
        .temeest:hover,
        .temeest:focus {
            
            background-color:rgba(0, 177, 64, .95);
        }
        /*++++++++*/
        .temedif{
            background-color:rgba(143, 122, 165, .16); 
        }
        
        .temedif:hover,
        .temedif:focus {
            
            background-color:rgba(143, 122, 165, 1);

        }
        /*++++++++*/
        .temeint{
            background-color:rgba(57, 146, 131, .16); 
        }
        
        .temeint:hover,
        .temeint:focus {
            
            background-color:rgba(57, 146, 131, 1);
        }
        /*++++++++*/
        /*++++++++*/

        a.todalg{
            text-decoration:none;
            color:rgba(37, 61, 103, .95);
            font-weight:bolder;
        }
        a.todtrig{
            text-decoration:none;
            color:rgba(170, 57, 57, .95);
            font-weight:bolder;
        }
         a.todgeo{
            text-decoration:none;
            color:rgba(192, 185, 0, 1);
            font-weight:bolder;
        }
         a.toddif{
            text-decoration:none;
            color:rgba(143, 122, 165, 1);
            font-weight:bolder;
        }
         a.todint{
            text-decoration:none;
            color:rgba(57, 146, 131, 1);
            font-weight:bolder;
        }
        a.todest{
            text-decoration:none;
            color:rgba(0, 177, 64, 1);
            font-weight:bolder;
        }

        .temesize{
            height:60px;
        }
         .temesizeint{
            height:60px;
        }
        .lief{
          margin-left:74px;
        }
        @media screen and (max-width:1400px){
            .mdlo{
                margin-right:25px;
            }
            .lief{
               margin-left:65px;
            }
        }
         @media screen and (max-width:1320px){
            .mdlo{
                margin-right:25px;
            }
            .lief{
               margin-left:57px;
            }
        }
        @media screen and (max-width:1200px){
            .reci{
                height:40px;
            }
            .lief{
                margin-left:45px;
            }
        }

        @media screen and (max-width:990px){
            .temesize{
                height:100px;
            }
            .lief{
               margin-left:20px;
           }
        }
        @media screen and (max-width:900px){
            .temesize{
                height:100px;
            }
            .lief{
               margin-left:-20px;
           }
        }

        @media screen and (max-width:500px){
            
            .temesizeint{
                height:160px;
            }
            .borderdefbas{
            border-color:rgba(54, 134, 164, .31);
            }
            .borderdefalg{
                border-color:rgba(37, 61, 103, .34);
            }
            .bordersdef{
            border-color:rgba(170, 57, 57, .34); 
            }
            .borderdefgeo{
            border-color:rgba(192, 185, 0, .34);  
            }
            .borderdefest{
            border-color:rgba(0, 177, 64, .34);
            }
            .borderdefint{
            border-color:rgba(57, 146, 131, .36);
            }
            .borderdefdif{
            border-color:rgba(143, 122, 165, .36);
            }
        } 
        @media screen and (max-width:400px){
            .foot{
                height:90px;
            }
        } 	